<div class="h_row_3 animated" data-animation="fadeInUp">
  <h1>Grand Sale - Discounts up to 70%</h1>
  <p>Etiam rhoncus velit vel volutpat tristique. Cras ac ornare est. Sed ac orci velit. Morbi pulvinar quam vel magna vehicula ullamcorper id at arcu. Curabitur interdum facilisis arcu a tempus. Sed vitae consequat velit, in laoreet ipsum. Pellentesque consequat tortor nec. Aliquam tempus lorem non nisi facilisis, at commodo massa facilisis.</p>
  <a class="btn_c" href="/collections/all">Detail</a>
  <div class="thumb animated" data-animation="fadeInUp">
    <img alt="Sale" src="//cdn.shopify.com/s/files/1/0608/2877/files/sale.png?1655" />
  </div>
</div>