<form action="/search" method="get" role="search">
  <div class="menu_c search_menu">
    <div class="search_box">
      {% unless settings.search_results == 'everything' %}
      <input type="hidden" name="type" value="product">
      {% endunless %}
      <input type="search" name="q" value="{{ search.terms | escape }}" class="txtbox" placeholder="{{ 'general.search.submit' | t }}" aria-label="{{ 'general.search.submit' | t }}">
      <button class="btn btn-link" type="submit" value="{{ 'general.search.submit' | t }}"><span class="fa fa-search"></span></button>
    </div>
  </div>
</form>