{{ 'jquery.tmpl.min.js' | asset_url | script_tag }}
{{ 'jquery.products.js' | asset_url | script_tag }}

<div id="recently-viewed-products-wrapper" class="collection clearfix" style="display:none">
  <h3>Recently Viewed Products</h3>
  <div id="recently-viewed-products" class="">
  </div>
</div>

{% raw %}
<script id="recently-viewed-product-template"  type="text/x-jquery-tmpl">
<!-- <div class="col-xs-6 col-sm-4 col-md-3"> -->
  <div id="product-${handle}" class="main_box">
    <div class="box_1">
      <div class="product-image">
        <a href="${url}">
          <img src="${Shopify.Products.resizeImage(featured_image, "medium")}" />
        </a>
      </div>
    </div>
    <div class="desc">
      <h5>
        <a href="${url}">${title}</a>
      </h5>
      <p>${type}</p>
      <div class="price">{{if price_varies}}From {{/if}}${Shopify.formatMoney(price)}</div>
    </div>
  </div>
<!-- </div> -->
</script>
{% endraw %}

<script>
Shopify.Products.showRecentlyViewed( { howManyToShow:4 } );
</script>

<style>
#recently-viewed-products {
  margin-top: 30px;
}

#recently-viewed-products .main_box {
  margin: 0 15px 0;
}
/* Some styles to get you started */
.collection {
clear: both;
padding-top: 50px;
}
/* new clearfix */
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
</style>