{% if settings.use_slider %}
{% include 'home-slider' %}
{% endif %}

<div id="content">
  <div class="container"> 

    {% unless settings.featured_images_content == 'none' %}
    {% include 'home-ads' %}
    {% endunless %}

    {% if settings.use_home_cta %}
    {% include 'home-cta' %}
    {% endif %}

    {% if settings.use_page_content %}
        <div class="rte">
        {% if page_title != blank %}
          {{ pages[settings.page_title].content }}
        {% else %}
          <p>{{ 'home_page.sections.no_page' | t }}</p>
        {% endif %}
        </div>
    {% endif %}

    {% if settings.use_featured_products %}
      {% include 'home-featured-products' %}
    {% endif %}

    {% if settings.use_instagram_widget %}
      {% include 'home-instagram' %}
    {% endif %}
  </div>
</div>