<div id="content">
  <div class="container">
    {% include 'breadcrumb' %}
    <div class="title clearfix">
      <h1>{{ page.title }}</h1>
    </div>
    <div class="page_content">
      <div class="row">
        <div class="col-md-9 col-md-push-3 col-sm-8 col-sm-push-4">
          <div class="sfbox box-page animated rollIn" data-animation="rollIn">
            <div class="rte">
              {{ page.content }}
            </div>
          </div>
        </div>
        {% include 'sidebar-page' %}
      </div>
    </div>
  </div>
</div>